# Dependencies
node_modules/
dist/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-test.log*
pnpm-debug.log*

# System
.DS_Store
Thumbs.db

# Linting/Testing
.eslintcache
.jest-cache
coverage/